body {
    color:deeppink;
    text-align: center;
    font-family: "Courier";
}

#containter {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 15px;
}