body {
    color:green;
    text-align: center;
    font-family: "Arial";
}

#containter {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 15px;
}

#cabecera {
    background: #33A;
    color: white;
    margin: 0;
    padding: 0.5em;
}